<h1 mat-dialog-title>Add new Device</h1>
<div mat-dialog-content>
    <form [formGroup]="deviceForm">
        <mat-form-field appearance="outline">
            <mat-label>Serial Number</mat-label>
            <input formControlName="serialNumber" matInput placeholder="Serial Number">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input formControlName="description" matInput placeholder="Description">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Device type</mat-label>
            <mat-select formControlName="type" required>
                <mat-option>
                    --
                </mat-option>
                <mat-option *ngFor="let device of devices" [value]="device.value">
                    {{device.viewValue}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="type.hasError('required')">Please chose 1</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Purchased Date</mat-label>
            <input formControlName="datePurchased" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <label id="example-radio-group-label">Pick your favorite season</label>
        <mat-radio-group formControlName="status" aria-labelledby="example-radio-group-label" class="example-radio-group" >
            <mat-radio-button class="example-radio-button" *ngFor="let status of statusList" [value]="status">
                {{status}}
            </mat-radio-button>
        </mat-radio-group>
    </form>
</div>

<div mat-dialog-action [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" [disabled]="!deviceForm.valid" (click)="submit()">{{actionType}}</button>
</div>

<!-- <mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" mat-dialog-close>Save</button>
</mat-dialog-actions> -->